@import '../../../styles/variables';

.form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 400px;

  &__title {
    &--color {
      color: $Gray_1_Titles;
    }
  }

  .form-check-label {
    a {
      color: $Gray_2_Paragraph;
      font-weight: bold;
    }

    &--color {
      color: $Gray_2_Paragraph;
    };
  }

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 3.4rem;
  }
}